@CHARSET "UTF-8";

body{
	margin: 0;
	padding: 0;
}
input, label, textarea{
	display: block;
	margin: 5px 0 0 10px;
}
.error{
	margin-left: 10px;
	color: red;
	padding: 2px;
}
p {
	margin: 3px 0 0 10px;
}
a{
	margin: 5px 0 0 10px;
}
textarea{
	margin-left: 20px;
	max-height: 100px;
	max-width: 150px;
}
